# git ignore file
_ReSharper.Web/
Debug/
Release/
packages/
bin/
TestResults/
_ReSharper.CisBonusManager/
StyleCop.Cache
CisBonusManager.suo
*.vsmdi
*.testsettings
*.trx
*.bin
*.crc
*.version
*.dat
*.user
*.suo
/Web/App_Data/ASPNETDB.MDF
/Web/App_Data/aspnetdb_log.LDF
