<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
        <!-- BonusesDbContext is connection to database to display bonuses-->
        <add
          name="BonusesDbContext"
          providerName="System.Data.SqlClient"
          connectionString="Data Source=cisdb2.cistest.local;Initial Catalog=RasTest;Persist Security Info=True;User ID=ryakh;Password=1"/>

        <add
            name="BonusesDbContextDisabled"
            providerName="System.Data.SqlClient"
            connectionString="Data Source=localhost;Initial Catalog=RasTest;Integrated Security=True"/>

        
    </connectionStrings>
    
</configuration>
