@using Web.Models.Bonuses
@model IEnumerable<BonusAggregate>
@{
    ViewBag.Title = "Index";
}
<h2>
    Bonuses</h2>
<p>
    @Html.ActionLink("Create New Bonus", "Create")
</p>
<div>
    <div id="bonusesGrid">
    </div>
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
        
//            $.ajax({
//              url: "@Url.Action("GetPagedJsonBonuses", "Bonuses")",
//              async: false,
//              dataType: 'json',
//              success: function (json) {
//                  testdata = json;
//              }
//            });

            // bind json result from /Bonuses/GetPagedJsonBonuses
            var bonusesDataSource = new kendo.data.DataSource({
                transport: {
                    type: "json",
                    read: "@Url.Action("GetPagedJsonBonuses", "Bonuses")",
                    update: {
                                url: function (bonus) {
                                   return "Bonuses/employees/" + employee.Id;
                                },
                                type: "POST"
                            },
                },
                pageSize: 5,
                serverPaging: true,
                schema: {
                    data: "Data", // PagedResponse.Data
                    total : "TotalCount", // PagedResponse.TotalCount
                    model: {id: "BonusId",
                        fields: {
                            EmployeeLastName: {type : "string", 
                                editable: true, 
                                nullable: false, 
                                validation: { required: {message: "Employee's last name is required"}}
                            },
                            Date : {type:"date", editable: true, nullable:false,validation: { required: true}},
                            Amount: {type: "number", editable: true, nullable:false,validation: { required: true}},
                            Comment: {type : "string", editable: true, nullable: false, validation: { required: true}},
                            isAcrive : {type: "boolean", editable: true, validation: { required: true}},
                            Ulc : {type : "string", editable: false},
                            Dlc : {type : "date", editable:false}
                            
                        } // fields
                    } // model
                }// schema 
            }); 

            // creates grid control
            $("#bonusesGrid").kendoGrid({
                dataSource:  bonusesDataSource,
                pageable: true,
                editable: "inline",
                columns: [
                    {   field: "EmployeeLastName",
                        title: "Last Name title"
                    },
                    "Amount",
                    {
                        field: "Date",
                        template: '#= kendo.toString(Date,"dd MMMM yyyy") #'
                    },
                    "Comment",
                    {
                        field: "isAcrive",
                        title: "Is Active"
                    }, {
                        field: "Ulc",
                        title: "Ulc title"
                    }, {
                        field: "Dlc",
                        title: "Dlc title",
                        template: '#= kendo.toString(Dlc,"dd MMMM yyyy") #'
                    },
                    { command: ["edit"], title: " " }
                ]
            });

            
        }); // end of ready function
    </script>
</div>
